$estilosComunes: (
   colorVerde: rgb(166, 226, 166),
   fuentePrincipal: Tahoma,
   colorFondo: white,
   colorHover: black,
   quitarEstiloLista: none,
);

$flexbox: (
    ver:flex,
    alinearCont: center,
    justificarCont: center,

);

