@media (max-width: 775px) {
    .contGlobal {
        .contGloHeader {
            .contMenu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .imgLogo {
                    height: 15vh;
                    display: flex;
                }

                .navMenu {
                    display: flex;
                    flex-direction: column;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            flex-direction: column;

                            a {
                                font-size: 50px;
                                display: flex;
                                flex-direction: column;
                                border-top: none;
                            }
                        }
                    }
                }
            }

        }

        .contGloMain {
            .textTmain {  
                padding-left:5px;
            }
            .contGrid {
                .boxC {
                    .textLa {
                        font-size: 25px;
                    }
                }

            }
        }

        .contGloFooter {
            .contenidoFooter {
                .contenidoMediosPago{
                    flex-wrap: wrap;
                    justify-content: center;
                    .txtMp {
                        font-size: 15px;  
                    }
                    .imgPay{
                        width: 100%;
                    }
                }
                .contenidoContacto {

                    ul {
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            p {
                                @include formato (white, 25px, 500, center)
                            }

                            .contenidoContactoLeft {
                                border-left: 2px Solid white;
                                border-right: 2px Solid white;
                            }
                        }
                    }
                }

            }

        }

    }
}