@media (max-width: 563px) {
    .contGlobal {
        .contGloHeader {
            .contMenu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .imgLogo {
                    height: 15vh;
                    display: flex;
                }

                .navMenu {
                    display: flex;
                    flex-direction: column;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            flex-direction: column;

                            a {
                                font-size: 50px;
                                display: flex;
                                flex-direction: column;
                                border-top: none;
                            }
                        }
                    }
                }
            }

        }

        .contGloMain {
            .contenidoMain {
                .textoMain {
                    font-size: 35px;
                    text-align: center;
                }


            }

        }

        .contGloFooter {
            .contenidoFooter {
                .contenidoContacto {

                    ul {
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            p {
                                @include formato (white,25px,500,center)
                            }

                            .contenidoContactoLeft {
                                border-left: 2px Solid white;
                                border-right: 2px Solid white;
                            }
                        }
                    }
                }

            }

        }

    }
}