@media (max-width: 775px) {
    .contGlobal {
        .contGloHeader {
            .contMenu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .imgLogo {
                    height: 15vh;
                    display: flex;
                }

                .navMenu {
                    display: flex;
                    flex-direction: column;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            flex-direction: column;

                            a {
                                font-size: 42px;
                                display: flex;
                                flex-direction: column;
                                border-top: none;
                            }
                        }
                    }
                }
            }

        }

        .contGloMain {
            .sectorA {
                .tBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .textTmain {
                        width: fit-content;
                    }
                }

                .contGrid {

                    .boxC {
                        .textLa {
                            font-size: 25px;
                        }
                    }

                }
            }

            .sectorB {
                .cardSp {
                    margin-top: 15px;
                    margin-bottom: 15px;

                }
            }
            
            .textLb {
                font-size: 35px;
            }

            .textCont{  
                font-size: 15px;
             
            }
            
           
            
        }

        .contGloFooter {
            .contenidoFooter {
                .contenidoMediosPago {
                    flex-wrap: wrap;
                    justify-content: center;

                    .txtMp {
                        font-size: 15px;
                    }

                    .imgPay {
                        width: 100%;
                    }
                }

                .contenidoContacto {

                    ul {
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            p {
                                @include formato (white, 25px, 500, center)
                            }

                            .contenidoContactoLeft {
                                border-left: 2px Solid white;
                                border-right: 2px Solid white;
                            }
                        }
                    }
                }

            }

        }

    }
}