* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.contGlobal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.contGloHeader {
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgb(166, 226, 166);
}
.contGloHeader .infoVar {
  background-color: rgb(166, 226, 166);
}
.contGloHeader .infoVar h1 {
  font-family: Tahoma;
  font-size: 16px;
  text-align: center;
  color: white;
  padding-top: 5px;
  box-sizing: border-box;
}
.contGloHeader .infoVar h1 .icoT {
  margin-left: 5px;
}
.contGloHeader .infoVar .barHiddenMob {
  display: none;
}
.contGloHeader .contMenu {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.contGloHeader .contMenu .imgLogo {
  height: 15vh;
}
.contGloHeader .contMenu .navMenu {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: center;
}
.contGloHeader .contMenu .navMenu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 0px;
  justify-content: center;
}
.contGloHeader .contMenu .navMenu ul li {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 2px 0px 2px;
  height: auto;
  align-content: center;
  justify-content: center;
}
.contGloHeader .contMenu .navMenu ul li a {
  color: rgb(166, 226, 166);
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 2px;
  text-align: center;
}
.contGloHeader .contMenu .navMenu ul li a:hover {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.contGloMain {
  grid-column: 1/3;
}
.contGloMain .sectorA .tBox {
  background-color: rgb(166, 226, 166);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contGloMain .sectorA .tBox .textTmain {
  display: flex;
  justify-content: left;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  width: 1200px;
  padding-top: 8px;
}
.contGloMain .sectorA .tBox .textTmain .icoTit {
  margin-right: 10px;
}
.contGloMain .sectorA .contGrid {
  background-color: none;
}
.contGloMain .sectorB {
  padding-top: 30px;
  padding-bottom: 30px;
}
.contGloMain .sectorB .filaB {
  padding-bottom: 30px;
}
.contGloMain .sectorB .cardS {
  width: 18rem;
}
.contGloMain .sectorB .cardSt {
  font-size: 35px;
}
.contGloMain .sectorB .cardTline {
  padding-bottom: 42px;
}
.contGloMain .sectorB .cardTd {
  padding-bottom: 22px;
}
.contGloMain .sectorB .cardTx {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contGloMain .sectorB .cardParr {
  margin: 0px;
}
.contGloMain .sectorB .botonS {
  background-color: rgb(166, 226, 166);
  border: none;
  color: white;
}
.contGloMain .sectorB .botonS:hover {
  background-color: #157347;
  color: white;
}

.textLa {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: white;
  padding: 50px;
  border: 2px solid rgb(166, 226, 166);
  background-color: rgb(166, 226, 166);
}

.textLb {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  color: white;
  padding: 50px;
  border: 2px solid rgb(166, 226, 166);
  background-color: rgb(166, 226, 166);
}

.grBor {
  border-top: 1px solid rgb(166, 226, 166);
}

.textLc {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(166, 226, 166);
  margin-top: 5px;
  margin-left: 30px;
}

.formFormat {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-txt-format {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-but-format {
  background-color: rgb(166, 226, 166);
  border: none;
}

.textCont {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: white;
  padding: 50px;
  border: 2px solid rgb(166, 226, 166);
  background-color: rgb(166, 226, 166);
}

.contGloFooter {
  background-color: white;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
}
.contGloFooter .contenidoFooter .contenidoMediosPago {
  border-top: 1px solid rgb(166, 226, 166);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contGloFooter .contenidoFooter .contenidoMediosPago .txtMp {
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
.contGloFooter .contenidoFooter .contenidoMediosPago .imgPay {
  width: 755px;
}
.contGloFooter .contenidoFooter .contenidoContacto {
  background-color: rgb(166, 226, 166);
  display: flex;
  justify-content: center;
}
.contGloFooter .contenidoFooter .contenidoContacto ul {
  background-color: none;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
.contGloFooter .contenidoFooter .contenidoContacto ul li {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.contGloFooter .contenidoFooter .contenidoContacto ul li p {
  background-color: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
  padding: 0px 5px 0px 5px;
}
.contGloFooter .contenidoFooter .contenidoContacto ul li .contenidoContactoLeft {
  border-left: 2px Solid white;
}
.contGloFooter .contenidoFooter .contenidoContacto ul li .contenidoContactoRight {
  border-right: 2px Solid white;
}
.contGloFooter .contenidoFooter .contenidoRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contGloFooter .contenidoFooter .contenidoRedes .iconSoc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contGloFooter .contenidoFooter .contenidoRedes .iconSoc .iconCor {
  color: rgb(166, 226, 166);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 775px) {
  .contGlobal .contGloHeader .infoVar {
    padding-bottom: 10px;
  }
  .contGlobal .contGloHeader .infoVar .barHidden {
    display: none;
  }
  .contGlobal .contGloHeader .infoVar .barHiddenMob {
    display: inline-block;
  }
  .contGlobal .contGloHeader .infoVar p {
    font-family: Tahoma;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    margin: 0;
  }
  .contGlobal .contGloHeader .infoVar p .icoT {
    margin-left: 5px;
  }
  .contGlobal .contGloHeader .contMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contGlobal .contGloHeader .contMenu .imgLogo {
    height: 15vh;
    display: flex;
  }
  .contGlobal .contGloHeader .contMenu .navMenu {
    display: flex;
    flex-direction: column;
  }
  .contGlobal .contGloHeader .contMenu .navMenu ul {
    display: flex;
    flex-direction: column;
  }
  .contGlobal .contGloHeader .contMenu .navMenu ul li {
    display: flex;
    flex-direction: column;
  }
  .contGlobal .contGloHeader .contMenu .navMenu ul li a {
    font-size: 42px;
    display: flex;
    flex-direction: column;
    border-top: none;
  }
  .contGlobal .contGloMain .sectorA .tBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contGlobal .contGloMain .sectorA .tBox .textTmain {
    width: fit-content;
  }
  .contGlobal .contGloMain .sectorA .contGrid .boxC .textLa {
    font-size: 25px;
  }
  .contGlobal .contGloMain .sectorB .cardSp {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contGlobal .contGloMain .textLb {
    font-size: 35px;
  }
  .contGlobal .contGloMain .textCont {
    font-size: 15px;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoMediosPago {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoMediosPago .txtMp {
    font-size: 15px;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoMediosPago .imgPay {
    width: 100%;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoContacto ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoContacto ul li p {
    background-color: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    padding: 0px 5px 0px 5px;
  }
  .contGlobal .contGloFooter .contenidoFooter .contenidoContacto ul li .contenidoContactoLeft {
    border-left: 2px Solid white;
    border-right: 2px Solid white;
  }
}

/*# sourceMappingURL=stilos.css.map */
